.button-row-container {
    max-width: 545px;
    margin: auto auto;
    padding: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.button-row-container .button {
    width: 100%;
    margin: 5px auto;
    max-height: 40px;
    padding: 10px 25px;
    /* margin: auto; */
    
    text-align: center;
    font-size: 15px;

    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.align-left {
    justify-content: left;
}

.align-right {
    justify-content: right;
}

.button-next {
    background-color: #2c6fbb;
}

.button-previous {
    background-color: white;
    color: #2c6fbb !important;
}