.container
{
    max-width: 545px;
    /* min-height: 75vh; */
    margin: auto auto;

    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 20px;
}

.button {
    /* min-width: 250px; */
    max-width: 250px;
    max-height: 70px;
    padding: 10px 25px;
    margin: auto;
    background-color: #2c6fbb;
    
    text-align: center;
    font-size: 24px;

    color: white;
    text-decoration: none;
    border-radius: 10px;

    flex-grow: 1;
}