html,
body {
    max-width: 100vw;
    color: black;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: inherit;
}
