.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    /* width: 100%; */
    background-color: white;
  }
  
  .logo {
    font-weight: bold;
    font-size: 22px;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }