.container {
    width: 545px;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    /* width: 545px; */
    height: fit-content;
    padding: 0;
}

.left {
    justify-content: start;
    margin-left: 10px;
    margin-right: auto;
}

.right {
    justify-content: end;
    margin-left: auto;
    margin-right: 10px;
}