.container {
    max-width: 875px;
    min-width: 875px;
    margin: 25px auto auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    align-items: flex-start;
    margin-right: auto;
}

.right {
    align-items: flex-end;
    margin-left: auto;
}